.fade-enter,
.fade-exit-done {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
